<br>
<br>
<h1>Upcoming Events</h1>

<div id="events-list">
<% @events.each do |f| %>
    
    <div id="<%=f.id%>" >
    <ol><%= link_to "#{f.name}" " - Click for details!", event_path(f), class: "event-show-link" %></ol>
    <li><%= f.date %></li>
    <li><%= f.location %></li>
    <li><%= link_to "RSVPs", event_attends_path(f) %><br></li>
    <li><%= link_to "Add an RSVP", new_event_attend_path(f) %></li>
    <br><br>
    </div>
    <% end %>
    </div>

