<!DOCTYPE html>
<html>
  <head>
    <title>RailsProj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'events'%>
    
  </head>

  <body>
  <% if logged_in? %>
  <%= link_to 'Logout', '/logout', method: :delete%> 
  <%= link_to 'Home', user_path(current_user) %>
  <%= link_to 'Events', events_path %>
  <%= link_to 'Create Event', new_event_path %> 
  <%= link_to 'RSVPs', attends_path %>
  <%= link_to 'Popular', events_popular_event_path %>
<% end %>

    <%= yield %>

    <button id='events-data'>Get Events</button>
			<div id='ajax-events'>[events...]</div>
			<br>
			<br>

			<button id='ajax-new-event'>New Event</button>
      <div id="new-event-form-div">[form]</div>

      <strong>New event form</strong>
			<form id='submit-event-form'>
				Name: <input id='event-name' type='text' name='name'></input><br>
                Date: <input type='text' name='date'></input><br>
                Location: <input type='text' name='location'></input><br>
                Details: <input type='text' name='details'></input><br>
				<input type='submit' />
			</form>
      
  </body>
</html>
